@media only screen and (min-width: 481px) and (max-width:768px){
	.sidebar2 {
		float:none;
		width:auto;	
		clear:both;
		border-top: 2px solid black;
		padding-top: 10px;
	}
	.main_sidebar1 {
		width:auto;	
	}
	.main {
		border-right:none;	
	}
}

@media only screen and (max-width:480px){
	.main_sidebar1, .main, .sidebar1, .sidebar2 {
		float:none;
		width:auto;
	}
	.main {
		border:none;	
	}
	.sidebar1, .sidebar2 {
		border-top: 2px solid black;
		margin-top: 25px;
		padding-top: 10px;	
	}
	header h1 {
		font-size:1.5em;	
	}
	nav {
		text-align:center;	
	}
	nav li {
		float:none;
		display:inline-block;
	}	
	nav a {
		float:none;	
		display:inline-block;
		border:none;
	}
}